[[source]]
url = "https://pypi.doubanio.com/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
ipdb = "*"

[dev-packages]
autoflake = "*"
coverage = "*"
"flake8" = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-html = "*"
pytest-sugar = "*"
pytest-rerunfailures = "*"

[requires]
python_version = "3.7"
